section#players .contenue{
		
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: left;
    justify-content: space-between;

    margin: 50px;
    
    
}
section#players .contenue .videoBox{
    width: 300px;
    height: 200px;
    position: relative;
    margin-bottom: 100px;
    border: black 1px solid;
    border-radius: 10px;

  

}
section#players .contenue .videoBox :hover{
    filter: brightness(30%);
    color: white;
  
  
}


section#players .contenue .videoBox img{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 10px;
    
}
section#players .contenue .videoBox .info{
    position: absolute;
    border-radius: 5px;
    top: 100px;
    background-color: rgba(0,0,0,0.7);
    margin-left: 197.5px;
    margin-top: -100px;
    width: 100px;
    height: 198px;
}

section#players .contenue .videoBox .info .nbVid{
    color: aliceblue;
    margin-top: 70px;
    margin-left: 40px;

}
section#players .contenue .videoBox .info .icon{
    color: aliceblue;
    margin-top: 0px;
    margin-left: 40px;
}
section#players .contenue .videoBox .allPlay{
    color: transparent;
    top: 90px;
    margin-left: 120px;
    position: absolute;
    font-weight: 700;
}

section#players .contenue .videoBox .allPlay:hover{
  
}